<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/blog}"
>
    <body>
        <th:block layout:fragment="container">
            <h3 class="mb-4" th:text="#{label.auth.password.reset}"></h3>
            <form th:action="@{/auth/password-reset/{token}(token=${token})}" method="POST" th:object="${passwordReset}">
                <div class="mb-3">
                    <label class="form-label" for="password" th:text="#{label.password}"></label>
                    <input class="form-control" th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}" id="password" type="password" required th:field="*{password}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')[0]}"></div>
                </div>
                <button class="btn btn-primary" type="submit" th:text="#{label.send}"></button>
            </form>
        </th:block>
    </body>
</html>
