<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/dashboard}"
>
    <body>
        <div layout:fragment="content">
            <h3 class="mb-3" th:text="#{header.category.delete(${category.name})}"></h3>
            <form th:action="@{/dashboard/categories/{id}/delete(id=${category.id})}" method="POST">
                <button class="btn btn-danger" type="submit" th:text="#{label.delete}"></button>
            </form>
        </div>
    </body>
</html>
