<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{dashboard/layout}"
>
    <head>
        <title>Spring Boot Blog - categories list</title>
    </head>
    <body>
        <div layout:fragment="column">
            <h3 class="mb-3" th:text="#{dashboard.category.list.header}"></h3>

            <div class="alert alert-info" th:if="${categories.isEmpty}">
                Categories list is empty. You can create first post <a th:href="@{/dashboard/categories/create}">here</a>!
            </div>

            <table class="table table-bordered table-striped" th:if="${!categories.isEmpty}">
                <thead class="table-dark">
                    <tr>
                        <th th:text="#{dashboard.category.list.headers.id}"></th>
                        <th th:text="#{dashboard.category.list.headers.name}"></th>
                        <th th:text="#{dashboard.category.list.headers.actions}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="category: ${categories}">
                        <td th:text="${category.id}"></td>
                        <td th:text="${category.name}"></td>
                        <td>
                            <a class="btn btn-sm btn-primary" th:href="@{/dashboard/categories/{id}/edit(id=${category.id})}" th:text="#{dashboard.category.list.actions.edit}"></a>
                            <a class="btn btn-sm btn-danger" href="#" th:text="#{dashboard.category.list.actions.delete}"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav th:if="${categories.totalPages > 1}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${categories.number == 0 ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/dashboard/categories(page=0)}">&laquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${!categories.hasPrevious() ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/dashboard/categories(page=${categories.number - 1})}">&lsaquo;</a>
                    </li>
                    <span class="page-item border border-start-0 border-end-0 px-3 d-flex align-items-center" th:text="${'Page ' + (categories.number + 1) + ' of ' + categories.totalPages}"></span>
                    <li class="page-item" th:classappend="${!categories.hasNext() ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/dashboard/categories(page=${categories.number + 1})}">&rsaquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${categories.number == (categories.totalPages - 1) ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/dashboard/categories(page=${categories.totalPages - 1})}">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>
