<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{dashboard/layout}"
>
    <body>
        <div layout:fragment="column">
            <h3 class="mb-3" th:text="#{header.category.list}"></h3>
            <div class="alert alert-info" th:if="${categories.isEmpty}" th:text="#{message.categories_list_is_empty}"></div>
            <div class="table-responsive">
                <table class="table table-bordered bg-white text-nowrap" th:if="${!categories.isEmpty}">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center" style="width: 1%;" th:text="#{label.id}"></th>
                            <th style="width: 100%;" th:text="#{label.name}"></th>
                            <th class="text-center" style="width: 1%;" th:text="#{label.actions}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="category: ${categories}">
                            <td class="text-center align-middle" th:text="${category.id}"></td>
                            <td class="align-middle" th:text="${category.name}"></td>
                            <td class="text-center align-middle">
                                <a class="btn btn-sm btn-primary" th:href="@{/dashboard/categories/{id}/edit(id=${category.id})}" th:text="#{label.edit}"></a>
                                <a class="btn btn-sm btn-danger" th:href="@{/dashboard/categories/{id}/delete(id=${category.id})}" th:text="#{label.delete}"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav th:if="${categories.totalPages > 1}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${categories.number == 0 ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/dashboard/categories(page=0)}">&laquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${!categories.hasPrevious() ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/dashboard/categories(page=${categories.number - 1})}">&lsaquo;</a>
                    </li>
                    <span class="page-item border border-start-0 border-end-0 px-3 d-flex align-items-center" th:text="${'Page ' + (categories.number + 1) + ' of ' + categories.totalPages}"></span>
                    <li class="page-item" th:classappend="${!categories.hasNext() ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/dashboard/categories(page=${categories.number + 1})}">&rsaquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${categories.number == (categories.totalPages - 1) ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/dashboard/categories(page=${categories.totalPages - 1})}">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>
