<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/dashboard}"
>
    <body>
        <th:block layout:fragment="container">
            <h3 class="mb-3" th:text="#{header.category.list}"></h3>
            <div class="alert alert-info" th:if="${#lists.isEmpty(categories)}" th:text="#{message.categories_list_is_empty}"></div>
            <div class="table-responsive">
                <table class="table table-bordered bg-white text-nowrap" th:unless="${#lists.isEmpty(categories)}">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center" style="width: 1%;" th:text="#{label.id}"></th>
                            <th style="width: 100%;" th:text="#{label.name}"></th>
                            <th class="text-center" style="width: 1%;" th:text="#{label.actions}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="category: ${categories}">
                            <td class="text-center align-middle" th:text="${category.id}"></td>
                            <td class="align-middle" th:text="${category.name}"></td>
                            <td class="text-center align-middle">
                                <a class="btn btn-sm btn-primary" th:href="@{/dashboard/categories/{id}/edit(id=${category.id})}" th:text="#{label.edit}"></a>
                                <a class="btn btn-sm btn-danger" th:href="@{/dashboard/categories/{id}/delete(id=${category.id})}" th:text="#{label.delete}"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:insert="fragments/general :: pagination(${categories}, '/dashboard/categories')"></div>
        </th:block>
    </body>
</html>
