<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    th:fragment="main(title, navbar, container, styles, scripts)"
>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:replace="${title}"></title>
        <link rel="stylesheet" th:href="@{/assets/bootstrap.css}">
        <th:block th:insert="${styles}"></th:block>
    </head>
    <body class="bg-light">
        <nav class="mb-4 navbar navbar-expand-lg navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}" th:text="#{label.application_name}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="ml-auto collapse navbar-collapse" id="navbar" th:insert="${navbar}"></div>
            </div>
        </nav>
        <div class="container">
            <th:block th:if="${alert}">
                <th:block th:insert="fragments/fragments :: alert(${alert.type}, ${alert.message})"></th:block>
            </th:block>
            <th:block th:insert="${container}"></th:block>
        </div>
        <script th:src="@{/assets/bootstrap.js}"></script>
        <th:block th:insert="${scripts}"></th:block>
    </body>
</html>
