<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="main(navbar, container)">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:text="#{label.application_name}"></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" integrity="sha512-F7WyTLiiiPqvu2pGumDR15med0MDkUIo5VTVyyfECR5DZmCnDhti9q5VID02ItWjq6fvDfMaBaDl2J3WdL1uxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
            .card-body p:last-child {
                margin-bottom: 0;
            }

            .accordion-button:focus {
                box-shadow: none;
                border-color: rgba(0, 0, 0, 0.125);
            }

            .cursor-pointer {
                cursor: pointer;
            }
        </style>
    </head>
    <body class="bg-light">
        <nav class="mb-4 navbar navbar-expand-lg navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}" th:text="#{label.application_name}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="ml-auto collapse navbar-collapse" id="navbar" th:replace="${navbar}"></div>
            </div>
        </nav>
        <div class="container" th:insert="${container}"></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.min.js" integrity="sha512-NWNl2ZLgVBoi6lTcMsHgCQyrZVFnSmcaa3zRv0L3aoGXshwoxkGs3esa9zwQHsChGRL4aLDnJjJJeP6MjPX46Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
</html>
