<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/blog}"
>
    <body>
        <th:block layout:fragment="container">
            <div class="row">
                <div class="col-12 col-md-8 col-xl-9">
                    <div class="alert alert-info" th:if="${#lists.isEmpty(posts)}" th:text="#{message.posts_list_is_empty}"></div>
                    <div th:each="post: ${posts}" th:insert="fragments/general :: post"></div>
                    <div th:insert="fragments/general :: pagination(${posts}, '/')"></div>
                </div>
                <div class="col-12 col-md-4 col-xl-3">
                    <div th:insert="fragments/general :: popularCategories"></div>
                    <div th:insert="fragments/general :: archiveAccordion"></div>
                </div>
            </div>
        </th:block>
    </body>
</html>
