<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/blog}"
>
    <body>
        <th:block layout:fragment="container">
            <div class="row">
                <div class="col-12 col-md-8 col-xl-9">
                    <h3 class="mb-4" th:text="#{header.blog.from_author(${author.fullName})}"></h3>
                    <div class="alert alert-info" th:if="${posts.isEmpty}" th:text="#{message.posts_list_is_empty}"></div>
                    <div th:each="post: ${posts}" th:include="fragments/general :: post"></div>
                    <div th:insert="fragments/general :: pagination(${posts}, @{/authors/{id}/posts(id=${author.id})})"></div>
                </div>
                <div class="col-12 col-md-4 col-xl-3">
                    <div th:insert="fragments/general :: popularCategories"></div>
                    <div th:insert="fragments/general :: archiveAccordion"></div>
                </div>
            </div>
        </th:block>
    </body>
</html>
