<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/blog}"
>
    <body>
        <th:block layout:fragment="container">
            <div class="row">
                <div class="col-12 col-md-8 col-xl-9">
                    <h3 class="mb-4" th:text="#{header.search.results(${#request.getParameter('query')}, ${posts.getTotalElements()})}"></h3>
                    <th:block th:if="${posts.isEmpty()}">
                        <div th:replace="fragments/fragments :: alert('info', #{message.search.no_results})"></div>
                    </th:block>
                    <div th:each="post: ${posts}" th:insert="fragments/fragments :: post(${post}, true)"></div>
                    <div th:insert="fragments/fragments :: pagination(${posts}, @{/search(query=${#request.getParameter('query')})})"></div>
                </div>
                <div class="col-12 col-md-4 col-xl-3">
                    <div th:insert="fragments/fragments :: search"></div>
                    <div th:insert="fragments/fragments :: popularCategories(${categories})"></div>
                    <div th:insert="fragments/fragments :: archiveAccordion(${archive})"></div>
                </div>
            </div>
        </th:block>
    </body>
</html>
