<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}"
>
    <head>
        <title>Spring Boot Blog</title>
    </head>
    <body>
        <div layout:fragment="container">
            <div class="row">
                <div class="col-9">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title" th:text="${post.title}"></h4>
                            <h6 class="my-2 card-subtitle text-muted">
                                <span th:text="${#temporals.format(post.createdAt, 'dd-MM-yyyy, HH:mm:ss')}"></span>
                                <span>&bull;</span>
                                <a class="text-decoration-none" th:href="@{/authors/{id}/posts(id=${post.user.id})}">
                                    <span th:text="${post.user.fullName}"></span>
                                </a>
                                <th:block th:if="${post.category != null}">
                                    <span>&bull;</span>
                                    <a class="text-decoration-none" th:href="@{/categories/{id}/posts(id=${post.category.id})}">
                                        <span th:text="${post.category.name}"></span>
                                    </a>
                                </th:block>
                            </h6>
                            <p class="mb-0 card-text" th:text="${post.content}"></p>
                            <div class="mt-2" th:unless="${#lists.isEmpty(post.tags)}">
                                <a class="d-inline-block me-2" th:each="tag: ${post.tags}" th:href="@{/tags/{id}/posts(id=${tag.id})}">
                                    <span class="badge rounded-pill bg-dark" th:text="${tag.name}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h3 class="my-3" th:text="#{header.comments}"></h3>
                    <div class="alert alert-info" sec:authorize="isAnonymous()" th:text="#{message.only_authenticated_users_can_create_comments}"></div>
                    <form class="mb-3" sec:authorize="isAuthenticated()" th:action="@{/posts/{id}/comments(id=${post.id})}" th:object="${comment}" method="POST">
                        <div class="mb-3">
                            <textarea class="form-control" th:classappend="${#fields.hasErrors('content') ? 'is-invalid' : ''}" id="content" th:field="*{content}" rows="3" required th:placeholder="#{label.comment}"></textarea>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:text="${#fields.errors('content')[0]}"></div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary" type="submit" th:text="#{label.create}"></button>
                        </div>
                    </form>
                    <div class="mb-3 card" th:each="comment: ${comments}">
                        <div class="card-body">
                            <div class="mb-2 card-text" th:text="${comment.content}"></div>
                            <small class="text-muted">
                                <span th:text="${comment.user.fullName}"></span>
                                <span>&bull;</span>
                                <span th:text="${#temporals.format(comment.createdAt, 'dd-MM-yyyy, HH:mm:ss')}"></span>
                            </small>
                            <div class="mt-2" sec:authorize="isAuthenticated()">
                                <a class="btn btn-sm btn-success" th:if="${#authorization.expression('hasPermission(__${comment.id}__, ''Comment'', ''edit'')')}" th:href="@{/posts/{postId}/comments/{commentId}/edit(postId=${post.id}, commentId=${comment.id})}" th:text="#{label.edit}"></a>
                                <a class="btn btn-sm btn-danger" th:if="${#authorization.expression('hasPermission(__${comment.id}__, ''Comment'', ''delete'')')}" th:href="@{/posts/{postId}/comments/{commentId}/delete(postId=${post.id}, commentId=${comment.id})}" th:text="#{label.delete}"></a>
                            </div>
                        </div>
                    </div>
                    <nav th:if="${comments.totalPages > 1}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${comments.number == 0 ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/posts/{id}(id=${post.id}, page=0)}">&laquo;</a>
                            </li>
                            <li class="page-item" th:classappend="${!comments.hasPrevious() ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/posts/{id}(id=${post.id}, page=${comments.number - 1})}">&lsaquo;</a>
                            </li>
                            <span class="page-item border border-start-0 border-end-0 px-3 d-flex align-items-center" th:text="${'Page ' + (comments.number + 1) + ' of ' + comments.totalPages}"></span>
                            <li class="page-item" th:classappend="${!comments.hasNext() ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/posts/{id}(id=${post.id}, page=${comments.number + 1})}">&rsaquo;</a>
                            </li>
                            <li class="page-item" th:classappend="${comments.number == (comments.totalPages - 1) ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/posts/{id}(id=${post.id}, page=${comments.totalPages - 1})}">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header" th:text="#{label.most_popular_categories}"></div>
                        <div class="card-body" th:if="${categories.isEmpty}" th:text="#{message.categories_list_is_empty}"></div>
                        <ul class="list-group list-group-flush" th:if="${not categories.isEmpty}">
                            <li class="list-group-item" th:each="category: ${categories}">
                                <a class="text-decoration-none" th:href="@{/categories/{id}/posts(id=${category.id})}" th:text="${category.name} + ' (' + ${category.postsCount} + ')'"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
