<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/blog}"
>
    <head>
        <title layout:fragment="title" th:text="|#{label.application_name} - ${post.title}|"></title>
    </head>
    <body>
        <th:block layout:fragment="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-xl-9">
                    <div th:include="fragments/fragments :: post(${post}, false)"></div>
                    <h3 class="my-4" th:text="#{header.comments}"></h3>
                    <th:block sec:authorize="isAnonymous()">
                        <div th:replace="fragments/fragments :: alert('info', #{message.only_authenticated_users_can_create_comments})"></div>
                    </th:block>
                    <form class="mb-3" sec:authorize="isAuthenticated()" th:action="@{/posts/{id}/comments(id=${post.id})}" method="POST" th:object="${comment}">
                        <div class="mb-3">
                            <textarea class="form-control" th:classappend="${#fields.hasErrors('content') ? 'is-invalid' : ''}" id="content" th:field="*{content}" rows="3" required th:placeholder="#{label.comment}"></textarea>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:text="${#fields.errors('content')[0]}"></div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary" type="submit" th:text="#{label.create}"></button>
                        </div>
                    </form>
                    <div id="sbb-comments" th:data-post-id="${post.id}" th:data-i18n="${i18n}"></div>
                </div>
                <div class="col-12 col-md-4 col-xl-3">
                    <div th:insert="fragments/fragments :: popularCategories(${categories})"></div>
                    <div th:insert="fragments/fragments :: archiveAccordion(${archive})"></div>
                </div>
            </div>
        </th:block>

        <th:block layout:fragment="scripts">
            <script th:src="@{/assets/js/comments.bundle.js}"></script>
        </th:block>
    </body>
</html>
