<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/blog}"
>
    <head>
        <title layout:fragment="title" th:text="|#{label.application_name} - ${post.title}|"></title>
    </head>
    <body>
        <th:block layout:fragment="container">
            <div class="row">
                <div class="col-12 col-md-8 col-xl-9">
                    <div th:include="fragments/general :: post"></div>
                    <h3 class="my-4" th:text="#{header.comments}"></h3>
                    <div class="alert alert-info" sec:authorize="isAnonymous()" th:text="#{message.only_authenticated_users_can_create_comments}"></div>
                    <form class="mb-3" sec:authorize="isAuthenticated()" th:action="@{/posts/{id}/comments(id=${post.id})}" method="POST" th:object="${comment}">
                        <div class="mb-3">
                            <textarea class="form-control" th:classappend="${#fields.hasErrors('content') ? 'is-invalid' : ''}" id="content" th:field="*{content}" rows="3" required th:placeholder="#{label.comment}"></textarea>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:text="${#fields.errors('content')[0]}"></div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary" type="submit" th:text="#{label.create}"></button>
                        </div>
                    </form>
                    <div x-data="data()" x-init="fetchComments()">
                        <template x-if="loading">
                            <div class="p-5 d-flex flex-column align-items-center justify-content-center">
                                <div class="mb-3 spinner-border" role="status" aria-hidden="true"></div>
                                <strong th:text="#{message.comments.loading}"></strong>
                            </div>
                        </template>
                        <template x-if="!loading">
                            <div>
                                <template x-if="comments.length === 0">
                                    <div th:text="#{message.comments.empty_list}"></div>
                                </template>
                                <template x-for="comment in comments">
                                    <div class="mb-3 card">
                                        <div class="card-body">
                                            <div class="mb-2 card-text" x-text="comment.content"></div>
                                            <small class="text-muted">
                                                <span x-text="`${comment.user.firstName} ${comment.user.lastName}`"></span>
                                                <span>&bull;</span>
                                                <span x-text="new Date(comment.createdAt).toLocaleString()"></span>
                                            </small>
                                            <template x-if="comment.canEdit || comment.canDelete">
                                                <div class="mt-2">
                                                    <template x-if="comment.canEdit">
                                                        <a class="btn btn-sm btn-success" :href="`/posts/${postId}/comments/${comment.id}/edit`" th:text="#{label.edit}"></a>
                                                    </template>
                                                    <template x-if="comment.canDelete">
                                                        <a class="btn btn-sm btn-danger" :href="`/posts/${postId}/comments/${comment.id}/delete`" th:text="#{label.delete}"></a>
                                                    </template>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </template>
                                <template x-if="totalPages > 1">
                                    <nav>
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item" :class="currentPage === 0 ? 'disabled': ''">
                                                <span class="page-link cursor-pointer" @click="fetchFirstPage()">&laquo;</span>
                                            </li>
                                            <li class="page-item" :class="!hasPreviousPage ? 'disabled': ''">
                                                <span class="page-link cursor-pointer" @click="fetchPreviousPage()">&lsaquo;</span>
                                            </li>
                                            <li class="page-item border border-start-0 border-end-0 px-3 d-flex align-items-center" x-text="`${messages.page} ${currentPage + 1} ${messages.of} ${totalPages}`"></li>
                                            <li class="page-item" :class="!hasNextPage ? 'disabled': ''">
                                                <span class="page-link cursor-pointer" @click="fetchNextPage()">&rsaquo;</span>
                                            </li>
                                            <li class="page-item" :class="currentPage === (totalPages - 1) ? 'disabled': ''">
                                                <span class="page-link cursor-pointer" @click="fetchLastPage()">&raquo;</span>
                                            </li>
                                        </ul>
                                    </nav>
                                </template>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-xl-3">
                    <div th:insert="fragments/general :: popularCategories"></div>
                    <div th:insert="fragments/general :: archiveAccordion"></div>
                </div>
            </div>
        </th:block>

        <th:block layout:fragment="scripts">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine.js" integrity="sha512-nIwdJlD5/vHj23CbO2iHCXtsqzdTTx3e3uAmpTm4x2Y8xCIFyWu4cSIV8GaGe2UNVq86/1h9EgUZy7tn243qdA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script th:inline="javascript">
                /*<![CDATA[*/
                const postCommentsEndpoint = /*[[@{/api/posts/{id}/comments(id=${post.id})}]]*/ '';
                /*]]>*/

                function data() {
                    return {
                        messages: {
                            page: [[#{label.pagination.page}]],
                            of: [[#{label.pagination.of}]],
                        },
                        loading: false,
                        postId: [[${post.id}]],
                        currentPage: 0,
                        totalPages: 0,
                        hasPreviousPage: false,
                        hasNextPage: false,
                        comments: [],
                        fetchComments() {
                            this.loading = true;

                            fetch(`${postCommentsEndpoint}?page=${this.currentPage}`)
                                .then(response => response.json())
                                .then(data => {
                                    this.comments = data.comments;
                                    this.currentPage = data.pagination.currentPage;
                                    this.totalPages = data.pagination.totalPages;
                                    this.hasPreviousPage = data.pagination.hasPreviousPage;
                                    this.hasNextPage = data.pagination.hasNextPage;
                                    this.loading = false;
                                });
                        },
                        fetchFirstPage() {
                            this.currentPage = 0;
                            this.fetchComments();
                        },
                        fetchPreviousPage() {
                            this.currentPage -= 1;
                            this.fetchComments();
                        },
                        fetchNextPage() {
                            this.currentPage += 1;
                            this.fetchComments();
                        },
                        fetchLastPage() {
                            this.currentPage = this.totalPages - 1;
                            this.fetchComments();
                        }
                    }
                }
            </script>
        </th:block>
    </body>
</html>
