<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{dashboard/layout}"
>
    <body>
        <div layout:fragment="column">
            <h3 class="mb-3" th:text="#{header.tag.create}"></h3>
            <form th:action="@{/dashboard/tags/create}" th:object="${tag}" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="name" th:text="#{label.name}"></label>
                    <input class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" id="name" type="text" th:field="*{name}" required>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:text="${#fields.errors('name')[0]}"></div>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary" type="submit" th:text="#{label.create}"></button>
                </div>
            </form>
        </div>
    </body>
</html>
