<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/dashboard}"
>
    <body>
        <th:block layout:fragment="container">
            <h3 class="mb-3" th:text="#{header.tag.list}"></h3>
            <th:block th:if="${#lists.isEmpty(tags)}">
                <div th:replace="fragments/fragments :: alert('info', #{message.tags_list_is_empty})"></div>
            </th:block>
            <div class="table-responsive">
                <table class="table table-bordered bg-white text-nowrap" th:unless="${#lists.isEmpty(tags)}">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center" style="width: 1%;" th:text="#{label.id}"></th>
                            <th style="width: 100%;" th:text="#{label.name}"></th>
                            <th class="text-center" style="width: 1%;" th:text="#{label.actions}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tag: ${tags}">
                            <td class="text-center align-middle" th:text="${tag.id}"></td>
                            <td class="align-middle" th:text="${tag.name}"></td>
                            <td class="text-center align-middle">
                                <a class="btn btn-sm btn-primary" th:href="@{/dashboard/tags/{id}/edit(id=${tag.id})}" th:text="#{label.edit}"></a>
                                <a class="btn btn-sm btn-danger" th:href="@{/dashboard/tags/{id}/delete(id=${tag.id})}" th:text="#{label.delete}"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:insert="fragments/fragments :: pagination(${tags}, '/dashboard/tags')"></div>
        </th:block>
    </body>
</html>
