<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/dashboard}"
>
    <body>
        <div layout:fragment="content">
            <h3 class="mb-3" th:text="#{header.tag.list}"></h3>
            <div class="alert alert-info" th:if="${tags.isEmpty}" th:text="#{message.tags_list_is_empty}"></div>
            <div class="table-responsive">
                <table class="table table-bordered bg-white text-nowrap" th:if="${!tags.isEmpty}">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center" style="width: 1%;" th:text="#{label.id}"></th>
                            <th style="width: 100%;" th:text="#{label.name}"></th>
                            <th class="text-center" style="width: 1%;" th:text="#{label.actions}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tag: ${tags}">
                            <td class="text-center align-middle" th:text="${tag.id}"></td>
                            <td class="align-middle" th:text="${tag.name}"></td>
                            <td class="text-center align-middle">
                                <a class="btn btn-sm btn-primary" th:href="@{/dashboard/tags/{id}/edit(id=${tag.id})}" th:text="#{label.edit}"></a>
                                <a class="btn btn-sm btn-danger" th:href="@{/dashboard/tags/{id}/delete(id=${tag.id})}" th:text="#{label.delete}"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav th:if="${tags.totalPages > 1}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${tags.number == 0 ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/dashboard/tags(page=0)}">&laquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${!tags.hasPrevious() ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/dashboard/tags(page=${tags.number - 1})}">&lsaquo;</a>
                    </li>
                    <span class="page-item border border-start-0 border-end-0 px-3 d-flex align-items-center" th:text="${'Page ' + (tags.number + 1) + ' of ' + tags.totalPages}"></span>
                    <li class="page-item" th:classappend="${!tags.hasNext() ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/dashboard/tags(page=${tags.number + 1})}">&rsaquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${tags.number == (tags.totalPages - 1) ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/dashboard/tags(page=${tags.totalPages - 1})}">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>
