<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/dashboard}"
>
    <body>
        <th:block layout:fragment="container">
            <h3 class="mb-3" th:text="#{header.post.list}"></h3>
            <div class="alert alert-info" th:if="${posts.isEmpty}" th:text="#{message.posts_list_is_empty}"></div>
            <div class="table-responsive">
                <table class="table table-bordered bg-white text-nowrap" th:if="${!posts.isEmpty}">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center" style="width: 1%;" th:text="#{label.id}"></th>
                            <th style="width: 70%;" th:text="#{label.title}"></th>
                            <th style="width: 1%;" th:text="#{label.created_at}"></th>
                            <th style="width: 30%;" th:text="#{label.category}"></th>
                            <th class="text-center" style="width: 1%;" th:text="#{label.actions}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post: ${posts}">
                            <td class="text-center align-middle" th:text="${post.id}"></td>
                            <td class="align-middle" th:text="${post.title}"></td>
                            <td class="text-center align-middle" th:text="${#temporals.format(post.createdAt, 'dd-MM-yyyy, HH:mm:ss')}"></td>
                            <td class="align-middle text-truncate" th:text="${#objects.nullSafe(post.category?.name, #messages.msg('label.no_category'))}"></td>
                            <td class="text-center align-middle">
                                <a class="btn btn-sm btn-primary" th:href="@{/dashboard/posts/{id}/edit(id=${post.id})}" th:text="#{label.edit}"></a>
                                <a class="btn btn-sm btn-danger" th:href="@{/dashboard/posts/{id}/delete(id=${post.id})}" th:text="#{label.delete}"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav th:if="${posts.totalPages > 1}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${posts.number == 0 ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/dashboard/posts(page=0)}">&laquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${!posts.hasPrevious() ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/dashboard/posts(page=${posts.number - 1})}">&lsaquo;</a>
                    </li>
                    <span class="page-item border border-start-0 border-end-0 px-3 d-flex align-items-center" th:text="#{pagination(${posts.number + 1}, ${posts.totalPages})}"></span>
                    <li class="page-item" th:classappend="${!posts.hasNext() ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/dashboard/posts(page=${posts.number + 1})}">&rsaquo;</a>
                    </li>
                    <li class="page-item" th:classappend="${posts.number == (posts.totalPages - 1) ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/dashboard/posts(page=${posts.totalPages - 1})}">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </th:block>
    </body>
</html>
