<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/dashboard}"
>
    <body>
        <th:block layout:fragment="container">
            <h3 class="mb-3" th:text="#{header.post.list}"></h3>
            <th:block th:if="${#lists.isEmpty(posts)}">
                <div th:replace="fragments/fragments :: alert('info', #{message.posts_list_is_empty})"></div>
            </th:block>
            <div class="table-responsive">
                <table class="table table-bordered bg-white text-nowrap" th:unless="${#lists.isEmpty(posts)}">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center" style="width: 1%;" th:text="#{label.id}"></th>
                            <th style="width: 70%;" th:text="#{label.title}"></th>
                            <th style="width: 1%;" th:text="#{label.created_at}"></th>
                            <th style="width: 30%;" th:text="#{label.category}"></th>
                            <th class="text-center" style="width: 1%;" th:text="#{label.actions}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post: ${posts}">
                            <td class="text-center align-middle" th:text="${post.id}"></td>
                            <td class="align-middle" th:text="${post.title}"></td>
                            <td class="text-center align-middle" th:text="${#temporals.format(post.createdAt, 'dd-MM-yyyy, HH:mm:ss')}"></td>
                            <td class="align-middle text-truncate" th:text="${#objects.nullSafe(post.category?.name, #messages.msg('label.no_category'))}"></td>
                            <td class="text-center align-middle">
                                <a class="btn btn-sm btn-primary" th:href="@{/dashboard/posts/{id}/edit(id=${post.id})}" th:text="#{label.edit}"></a>
                                <a class="btn btn-sm btn-danger" th:href="@{/dashboard/posts/{id}/delete(id=${post.id})}" th:text="#{label.delete}"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:insert="fragments/fragments :: pagination(${posts}, '/dashboard/posts')"></div>
        </th:block>
    </body>
</html>
