<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/blog}"
>
    <body>
        <th:block layout:fragment="container">
            <div class="row">
                <div class="col-12">
                    <h3 th:text="#{header.invalid_request}"></h3>
                    <p th:text="#{message.invalid_request}"></p>
                </div>
            </div>
        </th:block>
    </body>
</html>
