<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}"
>
    <head>
        <title>Spring Boot Blog</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="row">
                <div class="col-9">
                    <h3 class="mb-4" th:text="#{header.blog.from_tag(${tag.name})}"></h3>
                    <div th:each="post: ${posts}" class="mb-4 card">
                        <div class="card-body">
                            <a class="text-decoration-none" th:href="@{/posts/{id}(id=${post.id})}">
                                <h4 class="card-title" th:text="${post.title}"></h4>
                            </a>
                            <h6 class="my-2 card-subtitle text-muted">
                                <span th:text="${#dates.format(post.createdAt, 'dd-MM-yyyy, HH:mm:ss')}"></span>
                                <span>&bull;</span>
                                <a class="text-decoration-none" th:href="@{/authors/{id}/posts(id=${post.user.id})}">
                                    <span th:text="${post.user.fullName}"></span>
                                </a>
                                <th:block th:if="${post.category != null}">
                                    <span>&bull;</span>
                                    <a class="text-decoration-none" th:href="@{/categories/{id}/posts(id=${post.category.id})}">
                                        <span th:text="${post.category.name}"></span>
                                    </a>
                                </th:block>
                            </h6>
                            <p class="mb-0 card-text" th:text="${post.content}"></p>
                            <div class="mt-2" th:unless="${#lists.isEmpty(post.tags)}">
                                <a class="d-inline-block me-2" th:each="tag: ${post.tags}" th:href="@{/tags/{id}/posts(id=${tag.id})}">
                                    <span class="badge rounded-pill bg-dark" th:text="${tag.name}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <nav th:if="${posts.totalPages > 1}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${posts.number == 0 ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/tags/{id}/posts(id=${author.id}, page=0)}">&laquo;</a>
                            </li>
                            <li class="page-item" th:classappend="${!posts.hasPrevious() ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/tags/{id}/posts(id=${author.id}, page=${posts.number - 1})}">&lsaquo;</a>
                            </li>
                            <span class="page-item border border-start-0 border-end-0 px-3 d-flex align-items-center" th:text="${'Page ' + (posts.number + 1) + ' of ' + posts.totalPages}"></span>
                            <li class="page-item" th:classappend="${!posts.hasNext() ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/tags/{id}/posts(id=${author.id}, page=${posts.number + 1})}">&rsaquo;</a>
                            </li>
                            <li class="page-item" th:classappend="${posts.number == (posts.totalPages - 1) ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/tags/{id}/posts(id=${author.id}, page=${posts.totalPages - 1})}">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header" th:text="#{label.most_popular_categories}"></div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:each="category: ${categories}">
                                <a class="text-decoration-none" th:href="@{/categories/{id}/posts(id=${category.id})}" th:text="${category.name} + ' (' + ${category.postsCount} + ')'"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
