<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}"
>
    <head>
        <title>Spring Boot Blog</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <h4 class="card-title" th:text="${post.title}"></h4>
            <h6 class="my-2 card-subtitle text-muted">
                <span th:text="${#dates.format(post.createdAt, 'dd-MM-yyyy, HH:mm:ss')}"></span>
                <span>&bull;</span>
                <a class="text-decoration-none" th:href="@{/authors/{id}/posts(id=${post.user.id})}">
                    <span th:text="${post.user.fullName}"></span>
                </a>
                <th:block th:if="${post.category != null}">
                    <span>&bull;</span>
                    <a class="text-decoration-none" th:href="@{/categories/{id}/posts(id=${post.category.id})}">
                        <span th:text="${post.category.name}"></span>
                    </a>
                </th:block>
            </h6>
            <p class="mb-0 card-text" th:text="${post.content}"></p>
            <div class="mt-2" th:unless="${#lists.isEmpty(post.tags)}">
                <a href="#">
                    <span class="me-2 badge rounded-pill bg-dark" th:each="tag: ${post.tags}" th:text="${tag.name}"></span>
                </a>
            </div>
        </div>
    </body>
</html>
