<!doctype html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/blog}"
>
    <body>
        <th:block layout:fragment="container">
            <h3 class="mb-4" th:text="#{header.comment_edit}"></h3>
            <form th:action="@{/posts/{postId}/comments/{commentId}/edit(postId=${postId}, commentId=${commentId})}" th:object="${comment}" method="POST">
                <div class="mb-3">
                    <textarea class="form-control" th:classappend="${#fields.hasErrors('content') ? 'is-invalid' : ''}" id="content" th:field="*{content}" rows="4" required th:placeholder="#{label.comment}"></textarea>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:text="${#fields.errors('content')[0]}"></div>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary" type="submit" th:text="#{label.edit}"></button>
                </div>
            </form>
        </th:block>
    </body>
</html>
